In [4]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [5]:
Left = pd.read_csv('superhero_info - superhero_info.csv')
Left.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [6]:
Right= pd.read_csv('superhero_powers - superhero_powers.csv')
Right.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

Cleaning Left DF first

In [7]:
Left.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

Measurments needs to be split height and weight should be 2 columns and the values be the data in that column.

In [8]:
Left['Measurements'].head(2)

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
Name: Measurements, dtype: object

In [9]:
to_replace = [',']
for char in to_replace:
    Left['Measurements'] = Left['Measurements'].str.replace(char,':',regex=False)

In [10]:
Left['Measurements'].str.split(':',expand=True)

             0            1          2             3
0    {'Height'   '203.0 cm'   'Weight'   '441.0 kg'}
1    {'Height'   '191.0 cm'   'Weight'    '65.0 kg'}
2    {'Height'   '185.0 cm'   'Weight'    '90.0 kg'}
3    {'Height'   '203.0 cm'   'Weight'   '441.0 kg'}
4    {'Height'   '193.0 cm'   'Weight'   '122.0 kg'}
..         ...          ...        ...           ...
458  {'Height'   '183.0 cm'   'Weight'    '83.0 kg'}
459  {'Height'   '165.0 cm'   'Weight'    '52.0 kg'}
460  {'Height'    '66.0 cm'   'Weight'    '17.0 kg'}
461  {'Height'   '170.0 cm'   'Weight'    '57.0 kg'}
462  {'Height'   '185.0 cm'   'Weight'    '81.0 kg'}

[463 rows x 4 columns]

In [11]:
Left[['0','height (cm)','2','weight (kg)']] = Left['Measurements'].str.split(':',expand=True)
Left.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,0,height (cm),2,weight (kg)
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,{'Height': '203.0 cm': 'Weight': '441.0 kg'},{'Height','203.0 cm','Weight','441.0 kg'}
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,{'Height': '191.0 cm': 'Weight': '65.0 kg'},{'Height','191.0 cm','Weight','65.0 kg'}

In [12]:
Left = Left.drop(columns=['Measurements', '0', '2'])
Left.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg)
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,'203.0 cm','441.0 kg'}
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,'191.0 cm','65.0 kg'}

In [13]:
to_replace = ["'", ' cm', ' kg', '}',' ']
for char in to_replace:
    Left['height (cm)'] = Left['height (cm)'].str.replace(char,'',regex=False)

In [14]:
to_replace = ["'", 'cm', 'kg', '}',' ']
for char in to_replace:
    Left['weight (kg)'] = Left['weight (kg)'].str.replace(char,'',regex=False)

In [15]:
Left.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg)
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0

In [16]:
Left.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   height (cm)     463 non-null    object
 8   weight (kg)     463 non-null    object
dtypes: object(9)
memory usage: 32.7+ KB

Addressing Hero Column by splitting column at pipe then will create a hero column then I will remove pipe and hero|Publisher column and 1 column

In [17]:
Left['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [18]:
Left[['hero','publishier']] = Left['Hero|Publisher'].str.split('|',expand=True)
Left.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg),hero,publishier
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0,A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0,Abe Sapien,Dark Horse Comics

In [19]:
Left = Left.drop(columns=['Hero|Publisher'])
Left.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg),hero,publishier
0,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0,A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0,Abe Sapien,Dark Horse Comics

In [20]:
unique_ids = sorted(Left['height (cm)'].unique())
unique_ids[:10]

['122.0',
 '137.0',
 '142.0',
 '15.2',
 '155.0',
 '157.0',
 '160.0',
 '163.0',
 '165.0',
 '168.0']

In [21]:
unique_ids = sorted(Left['weight (kg)'].unique())
unique_ids[:10]

['101.0',
 '104.0',
 '105.0',
 '106.0',
 '108.0',
 '110.0',
 '113.0',
 '115.0',
 '116.0',
 '117.0']

In [22]:
Left['height (cm)'] = Left['height (cm)'].astype(float)

In [23]:
Left['weight (kg) '] = Left['weight (kg)'].astype(float)

In [24]:
Left.dtypes

Gender           object
Race             object
Alignment        object
Hair color       object
Eye color        object
Skin color       object
height (cm)     float64
weight (kg)      object
hero             object
publishier       object
weight (kg)     float64
dtype: object

In [27]:
Left.to_csv('/Data/superhero_info_clean.csv.gz', compression='gzip',index=False)

FileNotFoundError: [Errno 2] No such file or directory: '/Data/superhero_info_clean.csv.gz'

Starting right df we need to address the powers column will need to make column for each power by one-hot-encodingight

In [59]:
## use .str.replace to replace all single quotes
Right['Powers'] = Right['Powers'].replace('\'', '\"')

In [60]:
power = Right.loc[2,'Powers']
print(type(power))
power

<class 'str'>

'Agility,Accelerated Healing,Cold Resistance,Durability,Underwater breathing,Marksmanship,Weapons Master,Longevity,Intelligence,Super Strength,Telepathy,Stamina,Immortality,Reflexes,Enhanced Sight,Sub-Mariner'

In [27]:
## use .str.replace to replace all single quotes
Right['Powers'] = Right['Powers'].str.replace(",",'","')

In [31]:
power = Right.loc[2,'Powers']
print(type(power))
power

<class 'str'>

'Agility","Accelerated Healing","Cold Resistance","Durability","Underwater breathing","Marksmanship","Weapons Master","Longevity","Intelligence","Super Strength","Telepathy","Stamina","Immortality","Reflexes","Enhanced Sight","Sub-Mariner'

In [66]:
target = Right['Powers'].str.split(',')
target

0        [Agility, Super Strength, Stamina, Super Speed]
1      [Accelerated Healing, Durability, Longevity, S...
2      [Agility, Accelerated Healing, Cold Resistance...
3                                   [Lantern Power Ring]
4      [Accelerated Healing, Intelligence, Super Stre...
                             ...
662               [Flight, Energy Blasts, Size Changing]
663    [Cold Resistance, Durability, Longevity, Super...
664    [Agility, Stealth, Danger Sense, Marksmanship,...
665    [Cryokinesis, Telepathy, Magic, Fire Control, ...
666    [Super Speed, Intangibility, Time Travel, Time...
Name: Powers, Length: 667, dtype: object

In [68]:
exploded = target.explode(ignore_index=False)
exploded

0                  Agility
0           Super Strength
0                  Stamina
0              Super Speed
1      Accelerated Healing
              ...
665        Weather Control
666            Super Speed
666          Intangibility
666            Time Travel
666      Time Manipulation
Name: Powers, Length: 5874, dtype: object

In [69]:
cols_to_make = exploded.unique()
cols_to_make

array(['Agility', 'Super Strength', 'Stamina', 'Super Speed',
       'Accelerated Healing', 'Durability', 'Longevity', 'Camouflage',
       'Self-Sustenance', 'Cold Resistance', 'Underwater breathing',
       'Marksmanship', 'Weapons Master', 'Intelligence', 'Telepathy',
       'Immortality', 'Reflexes', 'Enhanced Sight', 'Sub-Mariner',
       'Lantern Power Ring', 'Invulnerability', 'Animation',
       'Super Breath', 'Dimensional Awareness', 'Flight', 'Size Changing',
       'Teleportation', 'Magic', 'Dimensional Travel',
       'Molecular Manipulation', 'Energy Manipulation', 'Power Cosmic',
       'Energy Absorption', 'Elemental Transmogrification',
       'Fire Resistance', 'Natural Armor', 'Heat Resistance',
       'Matter Absorption', 'Regeneration', 'Stealth', 'Power Suit',
       'Energy Blasts', 'Energy Beams', 'Heat Generation', 'Danger Sense',
       'Phasing', 'Force Fields', 'Hypnokinesis', 'Invisibility',
       'Enhanced Senses', 'Jump', 'Shapeshifting', 'Elasticity',
       'Substance Secretion', 'Enhanced Hearing', 'Adaptation', 'Gliding',
       'Natural Weapons', 'Wallcrawling', 'Vision - Thermal',
       'Power Augmentation', 'Cryokinesis', 'Duplication',
       'Weapon-based Powers', 'Fire Control', 'Enhanced Memory',
       'Energy Constructs', 'Power Absorption', 'Time Travel',
       'Enhanced Smell', 'Water Control', 'Vision - Telescopic',
       'Magnetism', 'Vision - Microscopic', 'Vision - Night',
       'Vision - Heat', 'Vision - X-Ray', 'Psionic Powers',
       'Toxin and Disease Resistance', 'Animal Attributes',
       'Animal Oriented Powers', 'Toxin and Disease Control', 'Empathy',
       'Animal Control', 'Darkforce Manipulation', 'Time Manipulation',
       'Reality Warping', 'Web Creation', 'Symbiote Costume',
       'Telekinesis', 'Levitation', 'Biokinesis', 'Sonar',
       'Enhanced Touch', 'Seismic Power', 'Energy Armor',
       'Omnilingualism', 'Radiation Immunity', 'Density Control',
       'Light Control', 'Illumination', 'Molecular Combustion',
       'Astral Travel', 'Precognition', 'Intangibility', 'Illusions',
       'Audio Control', 'Sonic Scream', 'Peak Human Condition',
       'Vision - Infrared', 'Dexterity', 'Omnitrix', 'Omnipotent',
       'Possession', 'Energy Resistance', 'Vision - Cryo', 'Mind Control',
       'Mind Blast', 'Clairvoyance', 'Probability Manipulation',
       'Death Touch', 'Electrokinesis', 'Gravity Control',
       'Technopath/Cyberpath', 'Radar Sense', 'Astral Projection',
       'Cloaking', 'Telepathy Resistance', 'Mind Control Resistance',
       'Hyperkinesis', 'Spatial Awareness', 'Radiation Control',
       'Radiation Absorption', 'Magic Resistance', 'Element Control',
       'Plant Control', 'Terrakinesis', 'Power Sense', 'Wind Control',
       'Qwardian Power Ring', 'Echolocation', 'Resurrection', 'The Force',
       'Summoning', 'Banish', 'Molecular Dissipation',
       'Electrical Transport', 'Speed Force', 'Grim Reaping',
       'Portal Creation', 'Vitakinesis', 'Projection', 'Insanity',
       'Photographic Reflexes', 'Anti-Gravity', 'Thirstokinesis',
       'Power Nullifier', 'Weather Control', 'Omnipresent', 'Omniscient',
       'Hair Manipulation', 'Nova Force', 'Odin Force', 'Phoenix Force',
       'Intuitive aptitude', 'Melting', 'Changing Armor'], dtype=object)

In [70]:
for col in cols_to_make:
    Right[col] = Right['Powers'].str.contains(col)
Right.head()

c:\Users\staichn\Anaconda3\envs\dojo-env\lib\site-packages\ipykernel_launcher.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

,hero_names,Powers,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,Camouflage,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",False,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...",True,True,True,False,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,Lantern Power Ring,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...",False,True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False